:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.hide {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0 0 0 20px;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 600;
}

i.fa-bars {
  padding-right: 5px;
  font-size: 20px;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50vw;
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.centerText {
  text-align: center;
}

.centering {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
}

section.formSection {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 10px;
  padding: 10px;
}

section.formSection h2 {
  text-align: center;
  margin-bottom: 10px;
}

div.inputOption {
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 10px;
  flex-direction: column;
}

img.map,
img.blogging,
img.team {
  width: 100%;
  border-radius: 5px;
}

.textAlignRight {
  text-align: right;
}

h4 {
  margin: 20px 0 10px 0;
}

.areYouLostContact {
  display: flex;
  justify-content: center;
}
