@import url('https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Nunito', sans-serif;
}

.hide {
  display: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0 0 0 30px;
  margin: 0px;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
}

img.logo {
  height: 90px;
  padding: 10px 0 0 5px;
}

.desktopNav {
  display: none;
}

i.fa-bars {
  padding: 10px 10px 0 0;
  font-size: 25px;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50vw;
  width: 50vw;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.closeHamburgerMenu {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
}

a.navOption {
  color: #3a8bc2;
  padding: 10px;
}

p.navOption {
  padding-left: 5px;
}

img.backgroundWave {
  width: 100vw;
  height: 15rem;
  position: absolute;
  top: -1;
  z-index: -1;
}

.centerText {
  text-align: center;
}

.centering {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
}

.contactUsSection {
  font-size: 18px;
  padding: 15px 0 30px 0;
}

h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

section.formSection {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 80px 10px 25px 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

section.formSection h2 {
  text-align: center;
  margin-bottom: 10px;
}

.formSectionOne {
  margin: 10px 0;
}

.continue {
  margin-top: 15px;
  padding: 5px;
  width: 100px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  background-color: #3a8bc2;
  border-color: #3a8bc2;
  border-radius: 5px;
}

.companyInput {
  width: 195px;
}

div.inputOption {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

i.fa-check-square {
  font-size: 35px;
  color: #3a8bc2;
  padding: 10px;
}

.toast {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}

.container {
  padding: 10px;
  flex-direction: column;
}

img.map,
img.blogging,
img.team {
  width: 100%;
  border-radius: 5px;
}

button.submit {
  margin: 5px 0 10px 0;
  padding: 5px;
  width: 100px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  background-color: #3a8bc2;
  border-color: #3a8bc2;
  border-radius: 5px;
}

.getInTouchSection {
  padding: 10px;
  flex-direction: column;
}

.getInTouch {
  margin: 20px 0 15px 0;
}

.getInTouch p {
  padding: 5px;
}

.textAlignRight {
  text-align: right;
}

.bloggingSection,
.teamSection {
  margin-bottom: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.bloggingSection p,
.teamSection p {
  padding: 10px;
}

.desktopFooter {
  display: none;
}

.footer p {
  padding: 5px;
}

.servicesSection,
.companySection,
.resourcesSection {
  padding: 10px;
}

.areYouLostSection {
  padding-top: 20px;
}

.areYouLostSection input {
  margin: 10px 0;
}

.areYouLostContact {
  display: flex;
  justify-content: center;
}

.socialMediaContact {
  padding: 15px;
  font-size: 20px;
}

img.footerLogo {
  width: 100vw;
  padding-top: 20px;
}

@media (min-width: 600px) {
  section.formSection {
    margin: 100px 100px 25px 100px;
  }

  .container {
    margin: 25px 0 100px 0;
    padding: 0;
  }

  img.map {
    width: 80vw;
  }

  .getInTouchSection a {
    text-align: center;
  }

  .desktopContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  img.blogging,
  img.team {
    width: 18rem;
  }

  .getInTouch {
    margin: 10px 80px;
  }

  .desktopFooter {
    display: initial;
  }

  .mobileFooter {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  .areYouLostSection {
    padding-top: 0;
  }
}

@media (min-width: 900px) {
  i.fa-bars {
    display: none;
  }

  .desktopNav {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
  }

  .formSection label,
  .formSection input,
  .formSection select {
    margin: 0 80px;
  }

  img.blogging,
  img.team {
    width: 25rem;
  }

  .getInTouch {
    margin: 10px 250px;
  }
}
